* {
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box;
}

/* Сброс стилей для всех браузеров */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Сброс стилей для всех браузеров */
.box-shadow-underlined {
  box-shadow: inset 0 1.2em #fff, inset 0 1.8em rgb(255, 218, 97);
}

.mw1280px {
  max-width: 1380px;
}

.ul-list {
  padding-left: 10%;
  /* list-style-type: circle; */
}
.ul-list li:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(223, 0, 0);
  margin-right: 5px;
  margin-bottom: 4px;
}
.mt-3 {
  margin-top: 1.25rem;
}
.mb-3 {
  margin-bottom: 1.25rem;
}

.ul-list li a {
  color: #b82b14;
}
.html-color {
  background-color: #f16529;
  color: white;
}

.css-color {
  background-color: #2965f1;
  color: white;
}

.js-color {
  background-color: #f0db4f;
  color: #292b2c;
}

.jquery-color {
  background-color: #0868ac;
  color: white;
}

.scss-color {
  background-color: #cc6699;
  color: white;
}

.ajax-color {
  background-color: #0683cb;
  color: white;
}

.info-links {
  position: relative;
  top: 15px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  padding: 7px;
  border: 1px solid black;
  transition: .3s linear all;
}

.info-links {
  background: none;
  color: #000;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  box-shadow: 0px 0 0 #ffc107 inset;
}

.info-links:hover {
  background: none;
  box-shadow: 200px 0 0 #ffc107 inset;
  border-color: black;
  border-radius: 0px;
}

.text-muted {
  color: rgb(97, 125, 148);
  font-weight: bold;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.pt-5vh {
  padding-top: 5vh;
}

.lh1-7 {
  line-height: 1.7;
}

.d-inline-flex {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

@media screen and (min-width:576px) {
  .p-lg-0 {
    padding: 0px;
  }
}

.p-0 {
  padding: 0px;
}

.d-block {
  display: block;
}

.text-justify {
  text-align: justify;
}

.align-items-center {
  align-items: center !important;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

@media screen and (max-width:576px) {
  .justify-sm-center {
    justify-content: center !important;
  }

  .justify-space-around {
    justify-content: space-around;
  }
}


.text-slicer {
  max-width: 130px;
  height: 2px;
  background-color: lightgray;
  box-shadow: none;
  border: unset;
}

.h60vh {
  position: relative;
  min-height: 60vh;
  background: url("../images/section1.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.h60vh .text-holder {
  line-height: 1.7;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h60vh .text-holder h1 {
  font-size: 3em;
  font-weight: bold;
  transition:.2s linear;
}

.h60vh .text-holder p {
  font-size: 1em;
  color: rgb(184, 223, 255);
  transition:.2s linear;
}

.h60vh .image-placeholder {
  background: url("../images/me.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  border: 7px solid white;
  width: 195px;
  height: 195px;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.sec2 {
  position: relative;
  height: 100%;
}

.sec2 .heading {
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.education__text__heading {
  font-weight: bold;
  margin-top: 15px;
}

@media screen and (max-width:576px) {
  .sec2 .heading {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.sec2 .heading:after {
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-right: auto;
  margin-left: auto;
}

.sec2 .mw992px {
  max-width: 992px;
}

.sec2 .mw992px:first-child {
  padding-top: 15vh;
}

.portfolio__hobby:after {
  background-color: green;
}

.portfolio__education:after {
  background-color: orange;
}

.portfolio__job-experience:after {
  background-color: rgb(223, 0, 0);
}

.myProjects.heading:after {
  background-color: #000;
}

.hobby__text .hobby {
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  border-radius: 50%;
  background-color: rgb(74, 190, 99);
  width: 100px;
  height: 100px;
}

.hobby__text .hobby svg {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.hobby__text .hobby p {
  text-align: center;
  position: absolute;
  bottom: -30px;
  width: 100%;
  font-weight: bold;
}

.hobby__text .hobby .lchild {
  bottom: -57px
}

.education__card .img-handler {
  background: url("http://schoolnvk.dnepredu.com/uploads/editor/1883/92758/sitepage_1/shkola_glavnaya.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 225px;
  width: 100%;
}

.education__card .kei-img-handler {
  background: url("https://krmisto.gov.ua/images/hischools/full/95_2.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 225px;
  width: 100%;
}

.education__text {
  margin-top: 15px;
}

.text__divs,
.education__card {
  max-width: 33%;
  transition: max-width .3s linear;
}

.education__card {
  margin-right: 30px;
  margin-left: 30px;
}

.text__divs p {
  padding: 15px;
  font-size: 15px;
  white-space: wrap;
}
.pregress-handler{
  width: 100%;  
}
.pregress-handler .progress, .progress-bar {
  height: 25px;
}

.progress {
  box-shadow: 0 0 2px gray;
}


.text__divs h3 {
  font-weight: bold;
  font-size: 19px;
  padding-top: 15px;
  padding-left: 15px;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  max-width: 100%;  
  margin-top: 10px;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;    
}

.legend {
  position: relative;
  width: 75px;
  text-align: center;
  top: 36px;
  box-shadow: 0px 0px 0px 1px white,  0px 3px 0px 3px black ;
  height: 35px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 12px;
  color: white;
  font-weight: bold;
  border-radius: 30px;
}
.percent {
  color: white;
  font-weight: bold;
  position: relative;
  right: 30px;
  top: 3px;
}

.myProjects__text {
  flex-flow: row;
  flex-wrap: wrap;
}

.myProjects__text .text__divs {
  position: relative;
  width: 33%;
}

.myProjects__text .text__divs p {
  text-align: left;
}

.myProjects__text .text__divs .myProjects-body {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 20px;
  height: 25vh;
  background-color: lightgray;
  width: 100%;
  display: block;
  border-radius: 20px;
  transition: .3s linear;
  box-shadow: 0 0 2px gray;
}

.text__divs:nth-of-type(1) .myProjects-body {
  background-image: url('../images/1.png');
}

.text__divs:nth-of-type(2) .myProjects-body {
  background-image: url('../images/2.png');
}

.text__divs:nth-of-type(3) .myProjects-body {
  background-image: url('../images/3.png');
}

.text__divs:nth-of-type(4) .myProjects-body {
  background-image: url('../images/4.png');
}

.text__divs:nth-of-type(5) .myProjects-body {
  background-image: url('../images/5.png');
}

.text__divs:nth-of-type(6) .myProjects-body {
  background-image: url('../images/6.png');
}

.text__divs:nth-of-type(1) .myProjects-text .myProjects-body h3 {
  background-color: #ff6777;
  color: white;
}
.text__divs:nth-of-type(2) .myProjects-text .myProjects-body h3 {
  background-color: #ED4949;
  color: white;
}
.text__divs:nth-of-type(3) .myProjects-text .myProjects-body h3 {
  background-color: #ffc107;
  
}
.text__divs:nth-of-type(4) .myProjects-text .myProjects-body h3 {
  background-color: #b82b14;
  color: white;
}
.text__divs:nth-of-type(5) .myProjects-text .myProjects-body h3 {
  background-color: #292b2c;
  color: white;
}

.text__divs:nth-of-type(6) .myProjects-text .myProjects-body h3 {
  background-color: #007bff;
  color: white;
}

.myProjects__text .text__divs .myProjects-body h3 {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  border-radius: 30px;
  padding: 0 10px;
  font-size: 17px;
  box-shadow: 0 0 2px gray;
  color: black;
}


.myProjects__text .text__divs .myProjects-text {
  position: relative;
  cursor: pointer;
  display: block;
  clear: both;
  border-radius: 20px;
  border: 1px solid lightgray;
  background-color: #292b2c;
  color: white;
  width: 90%;
  flex-basis: 1;
  padding-top: 20px;
  transition: .3s linear;
  margin-top: 15px;
  margin-bottom: 15px;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}

.tag-container {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
}

.tag-container span {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 30px;
  padding-right: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.myProjects__text .text__divs .myProjects-text:hover {
  box-shadow: 2px 2px 10px gray;
  bottom: 5px;
}

.myProjects__text .text__divs .myProjects-text:hover .myProjects-body {
  box-shadow: 2px 2px 10px black;
}

.slider-1 {
  position: relative;
}

#falseNavigationLeft{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border:1px solid lightgray;
  box-shadow: 0px 3px 3px gray;
  background-color: #fff;
  top: 50%;
  left: 5px;
  transform: translate(0%, -50%);
  font-size: 30px;
  cursor: pointer;
  z-index: 999;
}

#falseNavigationRight {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border:1px solid lightgray;
  box-shadow: 0px 3px 3px gray;
  background-color: #fff;
  top: 50%;
  right: 5px;
  transform: translate(0%, -50%);
  font-size: 30px;
  cursor: pointer;
  z-index: 999;
}

#falseNavigationLeft, #falseNavigationRight {
  transition: .3s linear;
  color: black;
}
#falseNavigationLeft:hover, #falseNavigationLeft:focus, #falseNavigationLeft:active, #falseNavigationRight:hover, #falseNavigationRight:focus, #falseNavigationRight:active {
  box-shadow: none;
  outline: none;
}
#falseNavigationLeft:hover, #falseNavigationRight:hover {
  opacity: .6;
}

.myCertificates {
  position: relative;
  padding-top:70px;
  padding-bottom: 70px;
  background-color: rgba(0,0,0,.5);
}

.myCertificates:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("../images/section1.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center center;  
  z-index: -1;
}

.myCertificates-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.sec3 .heading {
  text-align: center;
  width: auto;
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
}

.make-an-order {
  position: relative;
  bottom: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 200px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  background-color: #3e82f7;
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 0 0 5px gray;
  color: #e9ecef;
  transition: .3s linear;
}
.make-an-order:focus, .make-an-order:hover, .make-an-order:active {
  outline: none;
}
.make-an-order:hover {
  bottom:5px;
  box-shadow: 0 0 10px gray;
}

footer {
  margin-bottom: 30px;
  margin-top: 30px;
}

footer hr {
  background: lightgray;
  height: 2px; 
  border:none;
  max-width: 768px;
}

footer div {
  margin-top: 30px;
}
/* Prloader animation */
.loading-animation {
  padding-left: 15px;
  font-size: 18px;
}

.loading-animation .dot {
  position: relative;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 3px;
}

.dot1,
.dot2,
.dot3 {
  animation: loading 1s ease-in-out infinite;
}

.dot1 {
  animation-delay: .2s;
}

.dot2 {
  animation-delay: .4s;
}

.dot3 {
  animation-delay: .6s;
}

@keyframes loading {
  0% {
    top: 0px;
  }

  25% {
    top: 0px;
  }

  50% {
    top: -10px;
  }

  75% {
    top: 0px;
  }

  100% {
    top: 0px;
  }
}

/* Prloader animation */

@media screen and (max-width:992px) {
  .text__divs {
    max-width: 50%;
  }

  .h60vh .text-holder h1 {
    font-size: 2em;
  }
  .h60vh .text-holder p {
    font-size: .7em;
  }

  .myProjects__text .text__divs {
    min-width: 50%;
  }

  .education__card {
    max-width: 40%;
    margin-right: 15px;
    margin-left: 15px;
  }

  .myProjects__text .text__divs .myProjects-body {
    border-radius: 0 0 20px 20px;
    left: 0;
  }

  .myProjects__text .text__divs .myProjects-text {
    padding-top: 0;
    border-radius: 4px;
    overflow: hidden;
  }
  .make-an-order {
    padding: 8px;
    font-size: 16px;
  }
}

@media screen and (max-width:576px) {
  .text__divs {
    max-width: 100%;
  }

  .myProjects__text .text__divs {
    min-width: 100%;
  }

  .education__card {
    max-width: 100%;
  }
}